@font-face {
    font-family: 'SFProDisplay-Light';
    src: url('../fonts/SFProDisplay-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'SFProDisplay-Medium';
    src: url('../fonts/SFProDisplay-Medium.ttf') format('truetype');
}

body {
    margin: 0;
}

main {
    width: 100%;
}

header {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.menu {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.menu * {
    margin: 10px;
    font-family: SFProDisplay-Light, serif;
    font-size: 13pt;
    text-decoration: none;
    color: lightgray;
}

.menu *:hover {
    color: white;
}

.title {
    margin: 10px;
    font-family: SFProDisplay-Medium, serif;
    font-size: 30pt;
    color: lightgray;
}

.title:hover {
    color: white;
}

a {
    text-decoration: none;
    transition: color 0.4s;
}

a:hover {
    text-decoration: underline;
}