.tables_container * {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-between;
}

.tables {
    margin: 20px;
}

.tables * * {
    margin: 8px;
    font-family: SFProDisplay-Light, serif;
    font-size: 13pt;

    padding: 20px;
    border: 2px solid black;
    border-radius: 15px;

    color: darkslategray;
}

.tables * *:hover {
    color: black;
}