<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Data</title>
    <link href="../../style/common.css" rel="stylesheet">
    <link href="../../style/data.css" rel="stylesheet">
</head>
<body>
<header>
    <div class="menu">
        <a href="/main">Main</a>
        <a href="/data">Data</a>
        <a href="/operations">Operations</a>
    </div>
    <a href="/data" class="title">Data</a>
</header>
<main>
    <div class="tables_container">
        <div class="tables">
            <div th:each="table : ${tables}">
                <a th:href="@{/data/{tablename}(tablename=${table})}" th:text="${table}"></a>
            </div>
        </div>
    </div>
</main>
</body>
</html>