<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Data</title>
    <link href="../../style/common.css" rel="stylesheet">
    <link href="../../style/table.css" rel="stylesheet">
    <link href="../../style/insert.css" rel="stylesheet">
</head>
<body>
<header>
    <div class="menu">
        <a href="/main">Main</a>
        <a href="/data">Data</a>
        <a href="/operations">Operations</a>
    </div>
    <a href="/data" class="title">Data</a>
</header>
<main>
    <a th:href="@{/data/{tablename}(tablename=${tablename})}" class="tablename" th:text="${tablename}"></a>
    <form th:method="POST" th:action="@{/data/{tablename}/new(tablename=${tablename})}" th:object="${object}">
        <div th:each="field : ${object.getClass().getFields()}">
            <div class="input_container">
                <label th:text="${field.getName()}"></label>
                <input type="text" th:value='${field.get(object)}'/>
            </div>
        </div>
        <input type="submit" value="Submit"/>
    </form>
</main>
</body>
</html>