<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Data</title>
    <link href="../../style/common.css" rel="stylesheet">
    <link href="../../style/table.css" rel="stylesheet">
    <link href="../../style/insert.css" rel="stylesheet">
</head>
<body>
<header>
    <div class="menu">
        <a href="/main">Main</a>
        <a href="/data">Data</a>
        <a href="/operations">Operations</a>
    </div>
    <a href="/data" class="title">Data</a>
</header>
<main>
    <a th:href="@{/data/{tablename}(tablename=${tablename})}" class="tablename"
       th:text="${tablename}"></a>
    <div th:value="${object.getClass()}"></div>
    <form th:method="POST"
          th:action="@{/data/{tablename}/new(tablename=${tablename})}"
          th:object="${object}">
        <div th:each="field : ${object.getClass().getFields()}"
             th:if="${field.name} != 'id'">
            <div class="input_container">
                <label th:text="${field.name}"></label>
                <input th:if="${field.getType().getSimpleName()} == 'Date'"
                       type="date" th:field="*{__${field.name}__}"/>
                <input th:if="${field.getType().getSimpleName()} == 'Time'"
                       type="time" th:field="*{__${field.name}__}"/>
                <input th:if="${field.getType().getSimpleName()} == 'Timestamp'"
                       type="datetime-local"
                       th:field="*{__${field.name}__}"/>
                <th:block
                        th:if="${field.getType().getSimpleName()} == 'String'">
                    <select th:if="${field.name} == 'state'"
                            th:field="*{__${field.name}__}">
                        <option value="Start">Start</option>
                        <option value="Success">Success</option>
                        <option value="Failure">Failure</option>
                    </select>
                    <input th:if="${field.name} != 'state'" type="text"
                           th:field="*{__${field.name}__}"/>
                </th:block>
                <input th:if="${field.getType().getSimpleName()} == 'int'"
                       type="number" th:field="*{__${field.name}__}"/>
            </div>
        </div>
        <input type="submit" value="Submit"/>
    </form>
</main>
</body>
</html>