<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Data</title>
    <link href="../../style/common.css" rel="stylesheet">
    <link href="../../style/table.css" rel="stylesheet">
</head>
<body>
<header>
    <div class="menu">
        <a href="/main">Main</a>
        <a href="/data">Data</a>
        <a href="/operations">Operations</a>
    </div>
    <a href="/data" class="title">Data</a>
</header>
<main>
    <a th:href="@{/data/{tablename}(tablename=${tablename})}" class="tablename" th:text="${tablename}"></a>
    <div class="operations">
<!--        <a th:href="/data/${tablename}/get">Get record ></a>-->
        <a th:href=@{/data/{tablename}/getall(tablename=${tablename})}>Get all records ></a>
        <a th:href=@{/data/{tablename}/insert(tablename=${tablename})}>Insert new record ></a>
<!--        <a th:href="/data/${tablename}/update">Update record ></a>-->
<!--        <a th:href="/data/${tablename}/delete">Delete record ></a>-->
    </div>
</main>
</body>
</html>