main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.tablename {
    margin: 10px;
    font-family: SFProDisplay-Medium, serif;
    font-size: 25pt;
}

.operations {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
}

.operations * {
    margin: 5px;
    font-family: SFProDisplay-Light, serif;
    font-size: 15pt;
    color: darkslategray;
}

.operations *:hover {
    color: black;
}